<%= form_with(model: repetition, local: true) do |form| %>
  <% if repetition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repetition.errors.count, "error") %> prohibited this repetition from being saved:</h2>

      <ul>
      <% repetition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :positive %>
    <%= form.number_field :positive %>
  </div>

  <div class="field">
    <%= form.label :negative %>
    <%= form.number_field :negative %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
