<p id="notice"><%= notice %></p>

<h1>Repetitions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Positive</th>
      <th>Negative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repetitions.each do |repetition| %>
      <tr>
        <td><%= repetition.user %></td>
        <td><%= repetition.positive %></td>
        <td><%= repetition.negative %></td>
        <td><%= link_to 'Show', repetition %></td>
        <td><%= link_to 'Edit', edit_repetition_path(repetition) %></td>
        <td><%= link_to 'Destroy', repetition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repetition', new_repetition_path %>
