<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @repetition.user %>
</p>

<p>
  <strong>Positive:</strong>
  <%= @repetition.positive %>
</p>

<p>
  <strong>Negative:</strong>
  <%= @repetition.negative %>
</p>

<%= link_to 'Edit', edit_repetition_path(@repetition) %> |
<%= link_to 'Back', repetitions_path %>
