<%= form_with(model: users_language, local: true) do |form| %>
  <% if users_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_language.errors.count, "error") %> prohibited this users_language from being saved:</h2>

      <ul>
      <% users_language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.text_field :language_id %>
  </div>

  <div class="field">
    <%= form.label :primary_language %>
    <%= form.check_box :primary_language %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
