<p id="notice"><%= notice %></p>

<h1>Users Languages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Language</th>
      <th>Primary language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_languages.each do |users_language| %>
      <tr>
        <td><%= users_language.user %></td>
        <td><%= users_language.language %></td>
        <td><%= users_language.primary_language %></td>
        <td><%= link_to 'Show', users_language %></td>
        <td><%= link_to 'Edit', edit_users_language_path(users_language) %></td>
        <td><%= link_to 'Destroy', users_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Language', new_users_language_path %>
