<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_language.user %>
</p>

<p>
  <strong>Language:</strong>
  <%= @users_language.language %>
</p>

<p>
  <strong>Primary language:</strong>
  <%= @users_language.primary_language %>
</p>

<%= link_to 'Edit', edit_users_language_path(@users_language) %> |
<%= link_to 'Back', users_languages_path %>
