<%= form_with(model: repetitions_phrase, local: true) do |form| %>
  <% if repetitions_phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repetitions_phrase.errors.count, "error") %> prohibited this repetitions_phrase from being saved:</h2>

      <ul>
      <% repetitions_phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phrase_id %>
    <%= form.text_field :phrase_id %>
  </div>

  <div class="field">
    <%= form.label :repetition_id %>
    <%= form.text_field :repetition_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
