<p id="notice"><%= notice %></p>

<h1>Repetitions Phrases</h1>

<table>
  <thead>
    <tr>
      <th>Phrase</th>
      <th>Repetition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repetitions_phrases.each do |repetitions_phrase| %>
      <tr>
        <td><%= repetitions_phrase.phrase %></td>
        <td><%= repetitions_phrase.repetition %></td>
        <td><%= link_to 'Show', repetitions_phrase %></td>
        <td><%= link_to 'Edit', edit_repetitions_phrase_path(repetitions_phrase) %></td>
        <td><%= link_to 'Destroy', repetitions_phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repetitions Phrase', new_repetitions_phrase_path %>
