<p id="notice"><%= notice %></p>

<p>
  <strong>Phrase:</strong>
  <%= @repetitions_phrase.phrase %>
</p>

<p>
  <strong>Repetition:</strong>
  <%= @repetitions_phrase.repetition %>
</p>

<%= link_to 'Edit', edit_repetitions_phrase_path(@repetitions_phrase) %> |
<%= link_to 'Back', repetitions_phrases_path %>
