<%= form_with(model: groups_repetition, local: true) do |form| %>
  <% if groups_repetition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groups_repetition.errors.count, "error") %> prohibited this groups_repetition from being saved:</h2>

      <ul>
      <% groups_repetition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :repetition_id %>
    <%= form.text_field :repetition_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
