<p id="notice"><%= notice %></p>

<h1>Groups Repetitions</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Repetition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups_repetitions.each do |groups_repetition| %>
      <tr>
        <td><%= groups_repetition.group %></td>
        <td><%= groups_repetition.repetition %></td>
        <td><%= link_to 'Show', groups_repetition %></td>
        <td><%= link_to 'Edit', edit_groups_repetition_path(groups_repetition) %></td>
        <td><%= link_to 'Destroy', groups_repetition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groups Repetition', new_groups_repetition_path %>
