<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @groups_repetition.group %>
</p>

<p>
  <strong>Repetition:</strong>
  <%= @groups_repetition.repetition %>
</p>

<%= link_to 'Edit', edit_groups_repetition_path(@groups_repetition) %> |
<%= link_to 'Back', groups_repetitions_path %>
