<p id="notice"><%= notice %></p>

<p>
  <strong>Iso6391:</strong>
  <%= @language.iso6391 %>
</p>

<p>
  <strong>Iso6393:</strong>
  <%= @language.iso6393 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
