<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @phrase.content %>
</p>

<p>
  <strong>Meaning:</strong>
  <%= @phrase.meaning %>
</p>

<p>
  <strong>Language:</strong>
  <%= @phrase.language %>
</p>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
