<div id="translator" class="center">
  <input autofocus v-on:keyup.enter="translate" v-model="phrase">
  <button v-on:click="translate" class='waves-effect waves-light btn'>Translate</button>
  <br><br> 
  <translations
    v-bind:phrase="last_translated_phrase"
    v-bind:translations="translations"
    v-bind:sl="sl"
    v-bind:dl="dl"
    v-bind:in_progress="translating">
  </translations>
  <br><br> 
  <translations
    v-bind:phrase="last_translated_phrase"
    v-bind:translations="translations_inv"
    v-bind:sl="dl"
    v-bind:dl="sl"
    v-bind:in_progress="translating_inv">
  </translations>

</div>

<script>
  Vue.component('translation-header', {
    props: ['header', 'lang'],
    template: `
      <li style="list-style-type: none;" class="collection-header">
        <h4>{{ header }}<sub style='font-size:10px;'>[{{ lang }}]</sub>
          <a style='height: 20px; width: 20px; line-height:20px; margin-right: 30px;' class='btn-floating waves-effect waves-light right'><i style="line-height:20px; font-size: 0.8rem;" class="material-icons">play_arrow</i></a>
        </h4>
      </li>
    `
  })

  Vue.component('translation', {
    props: ['translation', 'lang'],
    template: `
      <li class="collection-item">
        <b>{{ translation.phrase }}</b>
        <a style='height: 20px; width: 20px; line-height:20px; margin-right: 5px;' class='btn-floating waves-effect waves-light right'><i style="line-height:20px; font-size: 0.8rem;" class="material-icons">add</i></a>
        <a style='height: 20px; width: 20px; line-height:20px; margin-right: 5px;' class='btn-floating waves-effect waves-light right'><i style="line-height:20px; font-size: 0.8rem;" class="material-icons">play_arrow</i></a>

        <br>
        <small style='margin-right: 50px;' v-html=translation.meaning></small>
      </li>
    `
  })

  Vue.component('translations', {
    props: ['translations', 'in_progress', 'phrase', 'sl', 'dl'],
    template: `
      <div>
        <div v-if='in_progress' class="progress"> <div class="indeterminate"></div></div>
        <ol start='0' v-if="translations.length && !in_progress" class='collection with-header'>
          <translation-header
            v-bind:header="phrase"
            v-bind:lang='sl'>
          </translation-header>
          <translation
            v-for="translation in translations"
            v-bind:key="translation.phrase"
            v-bind:translation="translation"
            v-bind:lang='sl'>
          </translation>
        </ol>
      </div>
    `
  })

  var translator = new Vue({
    el: '#translator',
    data: {
      phrase: '',
      last_translated_phrase: '',
      translations: [],
      translations_inv: [],
      translating: false,
      translating_inv: false,
      sl: 'pl',
      dl: 'en'
    },
    methods: {
      translate: function (event) {
                    if (this.phrase.length && this.phrase!=this.last_translated_phrase){
                        this.translations = this.translations_inv = []
                        this.translating = true
                        this.translating_inv = false
                        var url = new URL(window.location.origin+'/phrases/translate')
                        url.search = new URLSearchParams({'phrase': this.phrase, 'sl':this.sl, 'dl':this.dl, 'ml':this.sl})
                        let vue_this = this
                        fetch(url)
                            .then(stream => stream.json())
                            .then(data => vue_this.translations = data)
                            .then(data => vue_this.last_translated_phrase=this.phrase )
                            .then(function() { vue_this.translating = false; })
                            .then(function() { vue_this.translate_inv()})
                            .catch(error => Materialize.toast(error, 3000, 'rounded red'))
                            .catch(error => vue_this.last_translated_phrase='')
                            .finally(function() { vue_this.translating = false; })
                    }
      },

      translate_inv: function (event) { 
                        this.translating_inv = true
                        var url = new URL(window.location.origin+'/phrases/translate')
                        url.search = new URLSearchParams({'phrase': this.phrase, 'sl':this.dl, 'dl':this.sl, 'ml':this.sl})
                        let vue_this = this
                        fetch(url)
                            .then(stream => stream.json())
                            .then(data => vue_this.translations_inv = data)
                            .then(data => vue_this.last_translated_phrase=this.phrase )
                            .then(function() { vue_this.translating_inv = false; })
                            .catch(error => Materialize.toast(error, 3000, 'rounded red'))
                            .finally(function() { vue_this.translating_inv = false; })
                    }
    }
  })
</script>
