<p id="notice"><%= notice %></p>

<h1>Groups Trainees</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Trainee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups_trainees.each do |groups_trainee| %>
      <tr>
        <td><%= groups_trainee.group %></td>
        <td><%= groups_trainee.trainee %></td>
        <td><%= link_to 'Show', groups_trainee %></td>
        <td><%= link_to 'Edit', edit_groups_trainee_path(groups_trainee) %></td>
        <td><%= link_to 'Destroy', groups_trainee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groups Trainee', new_groups_trainee_path %>
