<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @groups_trainee.group %>
</p>

<p>
  <strong>Trainee:</strong>
  <%= @groups_trainee.trainee %>
</p>

<%= link_to 'Edit', edit_groups_trainee_path(@groups_trainee) %> |
<%= link_to 'Back', groups_trainees_path %>
