<p id="notice"><%= notice %></p>

<h1>Groups Subgroups</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Subgroup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups_subgroups.each do |groups_subgroup| %>
      <tr>
        <td><%= groups_subgroup.group %></td>
        <td><%= groups_subgroup.subgroup %></td>
        <td><%= link_to 'Show', groups_subgroup %></td>
        <td><%= link_to 'Edit', edit_groups_subgroup_path(groups_subgroup) %></td>
        <td><%= link_to 'Destroy', groups_subgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groups Subgroup', new_groups_subgroup_path %>
