<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @groups_subgroup.group %>
</p>

<p>
  <strong>Subgroup:</strong>
  <%= @groups_subgroup.subgroup %>
</p>

<%= link_to 'Edit', edit_groups_subgroup_path(@groups_subgroup) %> |
<%= link_to 'Back', groups_subgroups_path %>
