<!DOCTYPE html>
<html>
  <head>
    <title>Multilang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="nav-wrapper teal lighten-1">
          <ul id="nav-mobile" class="right">
            <li>pl-en</li>
            <li class="material-icons">settings</li>
          </ul>
        </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
